.header{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	box-sizing: border-box;
}

.animated{
	animation: main_anim .8s cubic-bezier(.4,0,.2,1);
}

.name{
	color: white;
	margin: 0;
	margin-top: 8%;
	font-size: 3rem;
	font-weight: 450;
}

.name_cont {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 1.5rem;
}

.name_cont img {
	width: 1.5rem;
	filter: brightness(.5);
}

.name_cont p {
	display: flex;
	flex-direction: row;
    align-items: center;
	gap: 5px;
	animation: show_blur .4s;
}

@keyframes show_blur {
	0% {
		filter: blur(15px);
	}

	100% {
		filter: blur(0px);
	}
}

.nicks{
	display: flex;
	flex-direction: row;
    align-items: center;
	justify-content: center;
	box-sizing: border-box;
	flex-wrap: wrap;
}

.hello{
	text-align: left;
}

.social{
	display: flex;
	flex-wrap: wrap;
	gap: 0.7rem;
}

.single svg{
	width: 34px;
}


.single{
	cursor: pointer;
	border: 2px #5B5959 solid;
	border-radius: 12px;
	display: flex;
	align-items: center;
    flex-direction: row;
	padding: 0.7rem;
	background-color: none;
	transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.single:hover{
	background-color:#191b1f;
	transform: translateY(-0.5rem);
}

.single span{
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.main_tech{
	color: #E2CC00;
	text-shadow: 0px 0px 120px #E2CC00;
}

.stack{
	width: 40%;
	text-align: left;
	margin-bottom: 3rem;
}

.tech{
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;

}

.tech img{
	width: 4rem;
}

.tech span{
	margin-top: 5px;
}

.tech div{
	display: flex;
	flex-direction: column;
    align-items: center;
	width: 5rem;
}

.projects_txt{
	color:#0cb8af;
	text-shadow: 0px 0px 120px #0cb8af;
}

@keyframes main_anim{
	0% {
		opacity: 0;
		filter: blur(5px);
		transform: translateY(100px) scale(.9);
	}
	100% {
		opacity: 1;
		filter: blur(0);
		transform: translateY(0) scale(1);
	}
}

.card_front,
.card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card_back {
    transform: rotateY(180deg);
	box-shadow: #b6b6b6 0px 0px 99px 9px;
	image-rendering: crisp-edges;
	border-radius: 50%;
}

.card_front {
	box-shadow: #0B5000 0px 0px 99px 9px;
	image-rendering: crisp-edges;
	border-radius: 50%;
}

.card {
    width: 15rem;
    height: 15rem;
    perspective: 1000px;
    cursor: pointer;
	user-select: none;
}

.card_inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s cubic-bezier(0.72, 0.55, 0.46, 1.33);
    transform-style: preserve-3d;
    position: relative;
}

.card.is_flipped .card_inner {
    transform: rotateY(180deg);
}

.card img{
	width: 100%;
	border-radius: 50%;
}

.card_back img, .card_back{
	border-radius: 0;
	box-shadow: none;
	filter: drop-shadow(0px 0px 10px #555555);
}

.scroll_botom {
	position: absolute;
	bottom: 1rem;
	display: flex;
	align-items: center;
	gap: .2rem;
	font-size: 1.2rem;
	opacity: 1;
	translate: opacity .3s;
}

.scroll_botom img {
	transform: rotate(-90deg);
	width: 1.8rem;
}

@media(max-width: 970px){
	.nicks{
		flex-direction: column;
	}
	.name{
		margin-top: 2rem;
		font-size: 2.5rem;
	}

	.name_cont {
		margin-left: 0;
	}

	.stack{
		width: 80%;
	}
	.social{flex-direction: column;}

	.scroll_botom {display: none;}
	.single{justify-content: space-between;}
}