.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.container p {
    margin: 0;
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 2.5rem;
}

.main img {
    width: 5rem;
    image-rendering: pixelated;
}